<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.khw.studnet_grade.mapper.StudentScoreMapper" >
    <resultMap id="BaseResultMap" type="com.khw.studnet_grade.entity.StudentScore" >
        <id column="sno" property="sno" jdbcType="INTEGER" />
        <result column="sname" property="sname" jdbcType="VARCHAR" />
        <result column="sage" property="sage" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <collection property="courses" resultMap="CourseResultMap"/>
    </resultMap>
    <resultMap id="CourseResultMap" type="com.khw.studnet_grade.entity.Course">
        <id column="cno" property="cno" jdbcType="INTEGER" />
        <result column="cname" property="cname" jdbcType="VARCHAR" />
        <result column="tno" property="tno" jdbcType="INTEGER" />
        <result column="tname" property="tname" jdbcType="VARCHAR" />
        <result column="score" property="score" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="BaseResultMaps" type="com.khw.studnet_grade.entity.Courses" >
        <id column="cno" property="cno" jdbcType="INTEGER" />
        <result column="cname" property="cname" jdbcType="VARCHAR" />
        <result column="tno" property="tno" jdbcType="INTEGER" />
        <result column="tname" property="tname" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="sso" type="com.khw.studnet_grade.entity.TeacherStudent">
        <id column="tno" property="tno" jdbcType="INTEGER" />
        <result column="tname" property="tname" jdbcType="VARCHAR" />
        <collection property="students" resultMap="hhh"/>
    </resultMap>
    <resultMap id="hhh" type="com.khw.studnet_grade.entity.Student" >
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Fri Dec 11 13:59:43 CST 2020.
        -->
        <id column="sno" property="sno" jdbcType="INTEGER" />
        <result column="sname" property="sname" jdbcType="VARCHAR" />
        <result column="sage" property="sage" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
    </resultMap>


    <select id="selectBysnoScores" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT student.sno,student.sname,score.score,course.cname
        FROM student LEFT JOIN score on score.sno = student.sno
        LEFT JOIN course ON score.cno = course.cno
        HAVING student.sno=#{sno}
    </select>

    <select id="SelectTeacherBycname" resultMap="BaseResultMaps" parameterType="java.lang.String">
        select cname,tname from course where cname = #{cname}
    </select>


    <select id="SelectTeacherBysname" resultMap="sso" parameterType="java.lang.String">
        select teacher.tno,teacher.tname,student.sno,student.sname
        from teacher LEFT JOIN course on
        teacher.tno = course.tno LEFT JOIN score on
        score.cno = course.cno
        LEFT JOIN student on
        student.sno = score.sno WHERE teacher.tname = #{tname}
    </select>
</mapper>